<div *ngIf="countdownService.countdownActive" class="card">
  <div class="content">
    <div class="time">
      <span>{{countdownService.days}}</span>
      <span>Days</span>
    </div>
    <div class="separator"></div>

    <div class="time">
        <span>{{countdownService.hours}}</span>
        <span>Hours</span>
    </div>
    <div class="separator"></div>

    <div class="time">
        <span>{{countdownService.minutes}}</span>
        <span>Minutes</span>
    </div>
  </div>
  <div class="shine"></div>
</div>
