.card {
  position: relative;
  margin: 50px auto;
  perspective: 30px;
}

p{
  margin-top: 0;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  color: rgba(255,255,255,0.2);
}

.shine-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.shine{
  width: 1000px;
  height: 100px;
  margin-left: -100px;
  transform: rotate(30deg);
  background: -webkit-linear-gradient(top, transparent, rgba(128, 128, 128, 0.1),transparent);
  position: absolute;
  animation: shine 6s ease-in-out infinite;
}

@keyframes shine{
  0%,100%{
    margin-top: -200px;

  }
  50%{
    margin-top: 400px;
  }
}

.content {
  border:1px solid rgba(54, 54, 54, 0.2);
  background:-webkit-linear-gradient(top,rgba(170, 170, 170, 0.1),transparent);
  border-radius: 2px;
  box-shadow: inset 0px 3px 15px rgba(141, 141, 141, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.5s;

  .time {
    font-family: 'Stardos Stencil', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > *:first-child {
      font-size: 45px;
    }

    & > *:last-child {
      font-size: 15px;
    }
  }

  .glass-cube {
    width: 130px;
    height: 130px;
  }

   .separator {
    width: 3px;
    height: 130px;
    background: -webkit-linear-gradient(top, transparent, rgba(212, 255, 244, 0.2),transparent);
  }
}
