@mixin centerX {
  left: 50%;
  transform: translateX(-50%)
}

@mixin center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin font-stack-header {
  font-family: 'Stardos Stencil', cursive;
  font-weight: bold;
  font-size: 70px;
  width: fit-content;
  text-align: center;

  @media (max-width: 800px) {
    font-size: 40px;
  }
}

@mixin font-stack-subheader {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;

  @media (max-width: 800px) {
    font-size: 15px;
  }
}

@mixin font-stack-footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  white-space: nowrap;
  color: rgba($color: white, $alpha: 0.7)
}

.header {
  position: absolute;
  top: 0;
  @include centerX;
}

.footer {
  position: absolute;
  bottom: 0;
  @include centerX;

  span {
    position: absolute;
    bottom: 0;
    @include centerX;
    @include font-stack-footer;
  }

  img {
    position: absolute;
    bottom: 25px;
    width: 25px;
    height: 25px;
    @include centerX;
    opacity: 0.7;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.content {
  position: absolute;
  @include centerX;
  @include center;

  width: 60vw;
  height: 200px;

  h1 {
    position: absolute;
    top: 0;
    margin: 0;
    @include centerX;
    @include font-stack-header;
  }

  span {
    position: absolute;
    top: 120px;
    text-align: center;
    width: 100%;
    @include centerX;
    @include font-stack-subheader;
  }
}
